doctype 5
html
  head
    block title
        title #{title} - Toxiclibs.js
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Serif:400')
    link(rel='stylesheet', href='#{staticUrl}stylesheets/style.css')
    block config
    script(type="text/javascript").
      window.staticUrl = '#{staticUrl}';
      window.rootUrl = '#{rootUrl}';
      window.requirejs = {
          baseUrl: '#{staticUrl}javascripts',
          config: {
            'site/models/urls': {
              root: '#{rootUrl}',
              static: '#{staticUrl}'
            }
          }
      };
    block post-config
    script(src="#{staticUrl}javascripts/vendor/require.js")
    script(src="#{staticUrl}javascripts/main.js", async)
    //script(src="javascripts/vendor/xrayquire.js")
    - if (typeof dependencies !== 'undefined')
      each include in dependencies
          script(src="#{staticUrl}#{include}")

  body(class=options.bodyClasses)
    block content
      div.above#example-container
    section#waist
      nav#navigation(class=options.navClasses)
        ul
          li.home
              a(href="#{rootUrl}") Toxiclibs.js
          li.examples
            a(href="#") Examples
          - if (typeof name !== 'undefined')
            li.name= name
    block below
      - if (typeof pagelet !== 'undefined' )
        section.below#pagelet !{pagelet}
    include _footer.jade
